{% load blog_tags keyword_tags i18n future mezzanine_tags %}
{% load i18n  mezzanine_tags staticfiles%}
{% load comment_tags %}
{% block subscribe_newsletter %}
<!-- Subscribe Newsletter -->
<div class="widget">
    <h5 class="widgetheading">{% trans "Subscribe" %}</h5>
     <section id="subscribe_posts">
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="//lightcapturing.us13.list-manage.com/subscribe/post?u=e13edcf43488969d205af82d6&amp;id=146c6de4f6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email">
                        </div>
                        <div  id="subscribe_index_button_div">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-lg">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_e13edcf43488969d205af82d6_146c6de4f6" tabindex="-1" value="">
                        </div>
                    </div>
                </form>
            </div>
            <script type='text/javascript' defer='defer' src='{% static "js/mc-validate.js" %}'></script>
            <!--End mc_embed_signup-->
            <script type='text/javascript' defer='defer'>
                (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);
            </script>
        </section>
    </div>
{% endblock %}
{% block blog_post_detail_related_posts %}
{% if blog_post.related_posts.all %}
<div class="widget">
<h5 class="widgetheading">{% trans "Related Posts" %}</h5>
<ul class="recent">
{% for post in blog_post.related_posts.all %}
    <li>
    {% if settings.BLOG_USE_FEATURED_IMAGE and post.featured_image %}
        <a href="{{ post.get_absolute_url }}">
            <img class="pull-right" alt="" src="{{ MEDIA_URL }}{% thumbnail post.featured_image 96 54 %}" style="margin:0 auto;text-align:center;">
        </a>
    {% else %}
        <span class="pull-right" alt="" id="no_featured_image"></span>
    {% endif %}
         <h6 class="related-post-h6"><a href="{{ post.get_absolute_url }}" class="related_a">{{ post.title }}</a></h6>
</li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}
{% block blog_recent_posts %}
{% blog_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<div class="widget" >
<h5 class="widgetheading">{% trans "Recent Posts" %}</h5>
<ul class="recent">
{% for recent_post in recent_posts %}
<li>
    {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
        <a href="{{ recent_post.get_absolute_url }}">
            <img class="pull-left" alt="" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 96 54 %}" style="margin:0 auto;text-align:center;">
        </a>
    {% else %}
        <span class="pull-left" alt="" id="no_featured_image"></span>
    {% endif %}
        <h6 class="recent-post-h6"><a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a></h6>
</li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}
{% block blog_categories %}
{% blog_categories as categories %}
{% if categories %}
<div class="widget">
<h5 class="widgetheading">{% trans "Categories" %}</h5>
<ul class="list-inline" id="categories_id">
{% for category in categories %}
<li><a href="{% url "blog_post_list_category" category.slug %}" class="categories_side"
    >{{ category }}<!-- {{ category.post_count }} --></a></li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}
{% block blog_keywords %}
{% keywords_for blog.blogpost as tags %}
{% if tags %}
<div class="widget">
<h5 class="widgetheading">{% trans "Tags" %}</h5>
<ul class="list-inline tag-cloud" id="tag_cloud_id">
{% for tag in tags %}
<li>
    <a href="{% url "blog_post_list_tag" tag.slug %}"
        class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
   <!--  ({{ tag.item_count }}) -->
</li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}
{% block blog_months %}
{% blog_months as months %}
{% if months %}
<div class="widget">
<h5 class="widgetheading">{% trans "Archive" %}</h5>
    {% for month in months %}
        {% ifchanged month.date.year %}
            {% if not forloop.first %}</ul>
        {% endif %}
    	 <h6 id="h6_{{ month.date.year }}" style="display:inline-block;" class="h6_archive">{{ month.date.year }}</h6><button class="button_archive" onclick="$('.archive_li_{{ month.date.year }}').toggle({effect:'drop',duration :'500'});"><i class="fa fa-angle-down" aria-hidden="true" id="fa-angle-down-archive"></i></button><ul class="cat">
        {% endifchanged %}
        <li class="archive_li_{{ month.date.year }}" id="archive_li_{{ month.date.year }}" style="display:none;"><a href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}" class="archive_month">{{ month.date|date:"F" }}</a> <span class="count_archive_span">({{ month.post_count }})</span></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
{% block blog_recent_comments %}
    <div class="widget">
    <h5 class="widgetheading">{% trans "Recent Comments" %}</h5>
         {% recent_comments %}
    </div>
{% endblock %}
<!-- {% block blog_authors %}
{% blog_authors as authors %}
{% if authors %}
<div class="widget">
<h5 class="widgetheading">{% trans "Authors" %}</h5>
<ul class="cat">
{% for author in authors %}
    <li><a href="{% url "blog_post_list_author" author.username %}"
        >{{ author.get_full_name|default:author.username }} ({{ author.post_count }})</a>
        </li>
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %} -->
<!-- {% block blog_feeds %}
<div class="widget">
<h5 class="widgetheading">{% trans "Feeds" %}</h5>
{% if tag %}
    <a href="{% url "blog_post_feed_tag" tag.slug "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed_tag" tag.slug "atom" %}">{% trans "Atom" %}</a>
{% endif %}
{% if category %}
    <a href="{% url "blog_post_feed_category" category.slug "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed_category" category.slug "atom" %}">{% trans "Atom" %}</a>
{% endif %}
{% if author %}
    <a href="{% url "blog_post_feed_author" author.username "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed_author" author.username "atom" %}">{% trans "Atom" %}</a>
{% endif %}
{% if not tag and not category and not author %}
    <a href="{% url "blog_post_feed" "rss" %}">{% trans "RSS" %}</a> /
    <a href="{% url "blog_post_feed" "atom" %}">{% trans "Atom" %}</a>
{% endif %}
</div>
{% endblock %} -->