{% extends "base.html" %}
{% load i18n mezzanine_tags staticfiles %}
{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}
{% block title_wrapper %}
{% endblock %}
{% block main %}
{% errors_for form %}
<!-- divider -->
<div class="row">
    <div class="col-lg-12">
        <h2 id="login_id" style="padding-left:25px;padding-right:25px;"><hr class="{% trans title %}"></h2>
    </div>
</div>
<!-- end divider -->
<form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% fields_for form %}
    <div class="form-actions">
        {% block account_form_actions %}
        <input class="btn btn-primary btn-lg pull-right" type="submit" value="{{ title }}">
        {% endblock %}
    </div>
</form>
<script>
var inputs = document.getElementsByTagName('input');
    for (index = 0; index < inputs.length; ++index) {
       inputs[index].setAttribute('placeholder',
    inputs[index].getAttribute("name"));
    }  
</script>
{% endblock %}