{% load i18n mezzanine_tags accounts_tags %}
{% if request.user.is_authenticated %}
    {% url "profile" request.user.username as profile_url %}
    {% if profile_url %}
       <a href="{{ profile_url }}" class="profile_user">{{ request.user|username_or:"email" }}</a>
        <!-- <a href="{% url "profile_update" %}" class="profile_user">
            <span class="profile_user"></span> {% trans "Update profile" %}</a> -->
    {% else %}
        <a href="{% url "profile_update" %}" class="profile_user">{{ request.user|username_or:"email" }}</a>
    {% endif %}
    <a href="{% url "logout" %}?next={{ request.path }}" class="sign-out">
        <span class="fa fa-sign-out" aria-hidden="true" style="cursor:pointer !important;"></span></a><div class="on_hover">Sign Out</div>
{% else %}
    <a href="{% url "login" %}?next={{ request.path }}" class="sign-in">
        <span class="fa fa-sign-in" aria-hidden="true" style="cursor:pointer !important;"></span></a><div class="on_hover">Sign In</div>
        <span class="vertical-line"></span>
    <a href="{% url "signup" %}?next={{ request.path }}" class="sign-up">
        <span class="fa fa-pencil-square-o" aria-hidden="true" style="margin-left:10px;cursor:pointer !important;"></span></a><div class="on_hover">Sign Up</div>
{% endif %}